<div class="app-container">
  <!-- header -->
  <header class="header">
      Angular Reddit project 🎈
  </header>
  
  <!-- add box -->
  <div class="add-container">
    <input type="text" placeholder="투표할 언어를 입력해주세요 😎" #title>
    <input type="text" placeholder="프로그래밍 언어의 공식 사이트 링크를 입력해주세요 🤩" #link>
    <div class="btn-container">
      <button (click)="addArticle(title, link)">Submit link</button>
    </div>
  </div>

  <app-article
  *ngFor="let article of articles"
  [article]="article"
  ></app-article>

  <footer></footer>
</div>